# Virtual Environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDEs and Editors
.vscode/
*.sublime-project
*.sublime-workspace

# OS Files
.DS_Store
Thumbs.db

# Database
*.sqlite3
